/*default iteaser*/
#TT2ILTbox {
  background-color: #f3f3f3;
  border: 1px solid #d2d2d2;
  padding: 10px;
  text-align: center;
  width: 280px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#TT2ILTbox h2 {
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0 5px 0;
}

#TT2ILTcount-line * {
  font-size: 11px;
}

#TT2ILTcount-line strong {
  font: bold 11px Arial;
}

#TT2ILTcount-line p {
  margin: 5px 0 5px 0;
}

#TT2ILTbutton-holder {
  display: -moz-box !important;
  display: block;
  height: 31px;
  text-align: center;
}

a.TT2ILTbutton, a.TT2ILTbutton span {
  background-color: #fa6230;
}

.TT2ILTbutton * {
  font: bold 12px Arial;

}

a.TT2ILTbutton {
  background-image: url('http://static.www.turnto.com/tra2/images/iteaser/1/button-right.png');
  background-repeat: no-repeat;
  background-position: top right;
  display: block;
  height: 31px;
  margin-right: 6px;
  padding-right: 16px;
  text-decoration: none;
  color: white;
}

a.TT2ILTbutton span {
  background-image: url('http://static.www.turnto.com/tra2/images/iteaser/1/button-left.png');
  background-repeat: no-repeat;
  display: block;
  line-height: 22px;
  padding: 2px 0 7px 18px;
}

a.TurnToIteaSee {
  font-size: 11px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}