.TTratingBox {
    height: 16px;
    width: 90px;
    margin-right: 5px;
    display:inline-block;
}

.TurnToReviewsTeaser {
    font-family: "Helvetica Neue",Helvetica,Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px !important;
    display:inline-block;
}

.TurnToReviewsTeaser a {
    text-decoration: none !important;
}

.TurnToReviewsTeaser a:hover {
    color: #000;
}

.TurnToItemTeaser {
    display:inline-block;
    font-family: "Helvetica Neue",Helvetica,Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px !important;
}

.TurnToItemTeaser a{
    text-decoration: none !important;
}

.TurnToItemTeaser a:hover {
    color: #000;
}

#TurnToContent {
	clear: both;
}

#TTpartnerRegWindow {
   width:750px;
   height:500px;
}
