
#TT3fullChatterHeader{
	font-size:19px;
	margin-top:10px;
}

#TT3chatterBox{
	border: 1px solid black;
	margin-top:13px;
}

#TT3chatterHeader{
	border-bottom: 1px solid black;
}

#TT2ILTbox {
	padding: 5px;
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
}

.TurnToReviewsTeaser {
	padding: 5px !important;
}

#TT2ILTbutton-holder {
	padding-left: 5px !important;	
}

.TTratingLinks {
	margin-left: 5px !important;
}